* {
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator-container {
    width: 400px;
    padding: 20px;
    border: 2px solid black;
}

.calculator-display {
    border: 2px solid black;
    padding: 10px 20px;
    margin-bottom: 20px;
    text-align: right;
}

.previous-operand {
    min-width: 30px;
    font-size: 20px;
}

.current-operand {
    min-width: 60px;
    font-size: 30px;
}